body {
	margin: auto;
	background-color: #000;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 3vw;
	
}

a {
	font-style: italic;
  font-weight: bold;
  color: red;
}



a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#info {
	position: relative;
	top: 0px;
	width: 70%;
    font-size: 3vw;
	 word-wrap: break-word;
    padding: 12vh 12vh 12vh 2vh;
	box-sizing: border-box;
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}
